<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/resources/css/cart.css">
    <script src="https://www.paypal.com/sdk/js?client-id=AU6S-Hdz7cVH1csW4rHciCeUxTn-ipG_NSjY7pUv8cXcOYSPox7c9OriST4UuCe40hMJtKqDny9mp7Bi"></script>
</head>
<body>
    <div class="main-container">
        <h1 class="cart-title"><span>C</span>arrito de Compras</h1>
        <a class="arrow" href="/"><i class="bi bi-arrow-left"></i></a>
        <div class="cart-table-container">
            <table class="cart-table">
                <thead>
                    <th><span>P</span>roducto</th>
                    <th><span>P</span>recio</th>
                    <th><span>C</span>antidad</th>
                    <th><span>S</span>ubtotal</th>
                    <th></th>
                </thead>
                <tbody>
                    <%  let total = 0;
                        for (let product of cart.products) {
                        totalPrice = product.price * product.quantity; %>
                        <tr>
                            <td class="Ttd"><%= product.name %></td>
                            <td class="Ttd"> <span>$</span><%=product.price %></td>
                            <td class="Ttd"><input type="number" min="1" max="50" step="1" value="<%= product.quantity %>" size="5" onchange='UpdateQuantity(this)' data-cart-product="<%= product.productID %>"></td>
                            <td class="Ttd"><span>$</span><%= product.quantity %></td>
                            <td class="Ttd Ttd-delete"><a onclick="deleteCartItem('<%= product.cartID %>')">Eliminar</a></td>
                        </tr>
                    <%}%>
                        <tr class="tr2">
                                <td colspan="3"></td>
                                <td id="total-cell" colspan="2">
                                    <h3> <span>$</span><%=totalPrice%></h3>
                                </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="cart-btn-container">
            <a href="/account/cart/payment"><button class="cart-btn">Realizar pago</button></a>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <p><span>¿E</span>stás seguro de que quieres eliminar este producto del carrito<span>?</span></p>
                <button>Sí</button>
                <button onclick="closeDeleteModal()">No</button>
            </div>
        </div>
    </div>

    <div class="secundary-container">
        <div class="paypalButtons" id="paypal-button-container"></div>
    </div>

    <script>
        function UpdateTime(purchaseDate) {
            const date = new Date(purchaseDate);

            // Define funciones para agregar ceros a la izquierda si el valor es menor a 10
            const addLeadingZero = (value) => (value < 10 ? `0${value}` : value);

            const day = addLeadingZero(date.getDate());
            const month = addLeadingZero(date.getMonth() + 1); // Meses comienzan desde 0
            const year = date.getFullYear();
            const hours = addLeadingZero(date.getHours());
            const minutes = addLeadingZero(date.getMinutes());
            const seconds = addLeadingZero(date.getSeconds());

            // Formatea la fecha en el formato deseado
            const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

            return formattedDate;
        }

        paypal.Buttons({
            style:{
                color: 'blue',
                shape: 'pill',
                label: 'pay'
            },
            createOrder: function(data, actions){
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '<%= total%>'
                        }
                    }]
                });
            },

            onApprove: function(data, actions) {
                actions.order.capture().then(function(detalles){

                    const purchaseDate = UpdateTime(detalles.update_time);

                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '/paypal/confirm', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');

                    console.log(detalles);

                    const payload = {
                        id: detalles.id,
                        purchaseAmount: detalles.purchase_units[0].amount.value,
                        status: detalles.status,
                        date: UpdateTime(detalles.update_time),
                        email: detalles.payer.email_address,
                        idCliente: detalles.payer.payer_id
                    };

                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                console.log('Compra confirmada por el servidor');
                            } else {
                                console.error('Error al confirmar la compra');
                            }
                        }
                    };
                    xhr.send(JSON.stringify(payload));
                });
            },
            onCancel: function(data) {
                alert("Cancelado");
                console.log(data);
            } 
        }).render('#paypal-button-container');
    </script>


    <script>
        function actualization(products) {
            let total = 0;
            const tbody = document.querySelector('tbody');
            tbody.innerHTML = '';

            for (let product of products) {
                totalPrice = product.price * product.quantity;

                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${product.name}</td>
                    <td>$${product.price}</td>
                    <td><input type="number" min="1" max="50" step="1" value="${product.quantity}" size="5" onchange="UpdateQuantity(${product.productID}, this.value)"></td>
                    <td>${product.price}</td>
                    <td><a href="deleteProduct${product.productID}">Eliminar</a></td>
                `;

                tbody.appendChild(row);
            }

            const totalCell = document.querySelector('#total-cell');
            totalCell.innerHTML = `<h3>$${total}</h3>`;
        }

        function UpdateQuantity(inputElement) {
            const productID = inputElement.getAttribute('data-cart-product');
            const newQuantity = inputElement.value;
            console.log(productID, newQuantity);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', `/carrito/actualizarCantidad/${productID}`, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const updatedCartItems = JSON.parse(xhr.responseText);
                    actualization(updatedCartItems); 
                }
                else {
                    console.log('error paa');
                }
            };

            xhr.send(JSON.stringify({ newQuantity }));
            window.location.reload();
        }

        //------------------------------modal---------------------------------

        function openDeleteModal(cartId) {
            console.log(cartId);
            const modal = document.getElementById('deleteModal');
            modal.style.display = 'block';
            window.cartIdToDelete = cartId;
        }

        function closeDeleteModal() {
            const modal = document.getElementById('deleteModal');
            modal.style.display = 'none';
        }

        function deleteCartItem(productID) {
            // const cartId = window.cartIdToDelete;
            const xhr = new XMLHttpRequest();
            xhr.open('DELETE', `/carrito/eliminar/${productID}`, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const updatedCartItems = JSON.parse(xhr.responseText);
                        actualization(updatedCartItems);
                    } else {
                        console.error('Error al eliminar el producto');
                    }
                }
            };

            xhr.send();
            closeDeleteModal();
            window.location.reload();
        }
    </script>
</body>

</html>