<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/resources/css/suplementos.css">
    <script src="https://www.paypal.com/sdk/js?client-id=AU6S-Hdz7cVH1csW4rHciCeUxTn-ipG_NSjY7pUv8cXcOYSPox7c9OriST4UuCe40hMJtKqDny9mp7Bi"></script>
</head>
<body>
    <div class="main__container">
        
        <div class="details-container">
            <div class="details-card">
                <a href="/" class="volver"><i class="bi-arrow-left"></i></a>
                    <form action="/carrito/agregar/<%= product.productID %>/detalles" method="post">
                        <p class="details-type details-name" name="name">Nombre del producto: <%=product.name%></p>  
                        <p class="details-type details-price">Precio del producto: $<%=product.price%></p>

                        <p class="details-type details-desc">Descripción: <%=product.description%></p>
                        <p class="details-type details-amount">Digitar cantidad a comprar: <input type="number" name="quantity"></p>
                        <div class="details-btns">
                            <input type="submit" class="login__btn-btn" value="Agregar al carrito">
                        </div>
                    </form>
                <a href="/carrito/comprar/<%= product.productID %>"><button class="details-btn">Comprar ahora</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>